<h1><font color=green>{{message}}</font></h1>
<p>Product List</p>
<div *ngIf="products.length >= 0">
    <table border="1" cellspacing="10" cellpadding="10">

        <th>Product Id </th>
        <th>Product Name </th>
        <th>Quantity On Hand </th>
        <th>Price</th>
        <th>Delete</th>
        <th>Edit</th>

        <tr *ngFor="let product of products">
            <td>{{product.productId}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.quantityOnHand}}</td>
            <td>{{product.price}}</td>
            <td><button class="btn btn-danger" (click)="deleteProduct(product.productId)">Delete</button></td>
            <td><button class="btn btn-danger" (click)="deleteProduct(product.productId)">Edit</button></td>

        </tr>
    </table>
</div>

<br/>
<br/>
<br/>
<br/>
<button class="btn btn-success" (click)="addProduct()" >Add Product</button>
